@tailwind base;
@tailwind components;
@tailwind utilities;

.reportGenerateBg {
  background-image: linear-gradient(270deg, #9b4b90 0, #2c215d);
}

.no-print {
  display: none;
}

.loaderPdf {
  position: absolute;
  z-index: 77;
  left: 0%;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.loaderPdf img {
  display: inline-block;
  width: 40px;
  animation: rotateAnimation 2s linear infinite;
}
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}
.logoHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 350px;
}
.navIcon {
  display: none;
}
.dashboardCardUi li {
  display: flex;
  justify-content: space-between;
}
.loader {
  position: fixed;
  z-index: 77;
  left: 0%;
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.loader img {
  display: inline-block;
  width: 40px;
  animation: rotateAnimation 2s linear infinite;
}

.componentLoader {
  z-index: 77;
  left: 0%;
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background: #fff;
}

.componentLoader img {
  display: inline-block;
  width: 40px;
  animation: rotateAnimation 2s linear infinite;
}

body.loading {
  border: 5px solid red;
}
body.loading:before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
}

.reportTableForm input[readonly] {
  background-color: #f3f4f6; /* gray-100 */

  cursor: not-allowed;
  border-color: transparent;
  box-shadow: none;
}

.reportGenerateMain input,
.reportGenerateMain select {
  font-size: 14px;
  color: #000;
  height: 40px;
  line-height: 40px;
}

.colSpaceBottom > div {
  margin-bottom: 25px;
}

.page-break {
  page-break-before: always;
  break-before: page;
}

textarea {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.banner {
  position: relative; /* Make sure the parent element is positioned */
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.3); */
}
.banner:before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
}

.banner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 3%, transparent 80%);
  z-index: 1; /* Lower than .block content */
}

.powerfulDataBox ul li {
  margin-top: 20px;
  margin-bottom: 25px;
}

.powerfulDataBox ul li h4 {
  font-weight: bold;
}

span#backButton:before {
  content: "";
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  height: 10px;
  width: 10px;
  display: inline-block;
  transform: rotate(42deg);
  top: 0px;
  position: static;
  margin-right: 2px;
  margin-top: 10px;
}

.cardLoader {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardLoader img {
  width: 110px;
}

.filterCol .react-datepicker-wrapper {
  font-size: 16px;
  padding: 0px;
}

.filterCol input {
  padding: 5px;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid #000;
  background: transparent;
  margin-bottom: 5px;
}

.react-datepicker-wrapper {
  display: inline-block;
  width: 100%;
}
.react-datepicker__input-container input {
  width: 100%;
}

.filterDropDown:before {
  content: "";
  height: 0px;
  width: 0px;
  border-width: 10px;
  position: absolute;
  border-color: transparent transparent #f6f6f6;
  right: 38px;
  top: -20px;
  border-style: solid;
}

.filterDropDown label {
  margin-right: 5px;
  margin-top: 5px;
  min-width: 100px;
  text-align: right;
}

.filterDropDown input {
  border: 0px;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  background: transparent;
}

.filterDropDown input:focus-visible {
  outline: none;
}

.datePickerCol {
  height: 35px;
}

.datePickerCol input.inputbox {
  background: url("../src/images/calenderIcon1.png") 97% center no-repeat;
  background-size: 18px;
}

/* css for report tab by saurabh */
.globleFilter:focus-visible {
  outline: none;
  box-shadow: none;
}

.p-filter-column .p-sortable-column {
  background-color: #949090;
}
.p-datatable .p-sortable-column.p-highlight:focus {
  background: #949090;
  color: rgb(55, 65, 81);
}
.p-datatable .p-sortable-column.p-highlight {
  background: #949090;
  color: rgb(55, 65, 81);
}
.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
  color: #9b4b90;
}
.p-button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.leftMenuCol ul li {
  padding: 20px;
  color: #fff;
  position: relative;
}

.leftMenuCol ul li.selectedCol {
  background: #9b4b90;
}
.leftMenuCol ul li:hover {
  background: #9b4b90;
}
/* .leftMenuCol ul li.selectedCol:after {
  content: "";
  position: absolute;
  border-width: 33px;
  border-color: transparent transparent transparent #9b4b90;
  right: -66px;
  top: 0px;
} */

.hideDesktop {
  display: none;
}

.hideMobile {
  display: block;
}

.footerBox {
  background-color: #fff;
  padding-bottom: 0;
  margin-top: 0;
  max-width: 100%;
}

.footerFormBox {
  max-width: 1252px;
  padding: 0px 10px;
  color: #000;
  margin: 36px auto 20px;
  display: flex;
  justify-content: space-around;
}

.phonCol .footerLocationIcon img {
  height: 25px;
  width: auto;
  margin-top: 7px;
  margin-right: 5px;
}

.emailCol .footerLocationIcon img {
  height: 21px;
  width: 42px;
  max-width: inherit;
  margin-top: 5px;
  margin-right: 5px;
}

.footerInputBox {
  margin-top: 10px;
  margin-bottom: 10px;
}

.socialMediaLink {
  margin-top: 10px;
}

.footerInputBox.addressCol img {
  height: 38px;
  width: auto;
  min-width: 46px;
  margin-top: 3px;
}

p.footerLocation {
  color: #414141;
}

.addressCol,
.emailPhoneInfo {
}

.footerFormBox > div {
  width: 33.33%;
  margin-bottom: 30px;
  padding-left: 80px;
}

.footerSocalMediaIcon {
  margin-top: 10px;
}

.footerSocalMediaIcon a {
  margin-right: 10px;
  opacity: 0.2;
}

.footerSocalMediaIcon a:hover {
  opacity: 1;
}

.firstRowFC1,
.firstRowFC2,
.secondRowFC1,
.secondRowFC2 {
  width: 50%;
  padding: 0 20px;
  margin-bottom: 20px;
}

.thirdRow {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 20px;
}

.secondRowFC1,
.selectInputCol {
  position: relative;
}

.selectInputCol {
  padding-left: 0;
}

.footerInputBox {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.footerLocationIcon img {
  padding-right: 8px;
}

.footerEmail,
.footerPhone {
  color: #aa72ce;
  font-size: 17px;
  font-weight: 400;
}

.footerLocationTitle,
.footerSocalMediaTitle {
  color: #aa72ce;
  font-size: 20px;
  font-weight: 500;
}

.subFooterBox p {
  text-align: center;
  color: #414141;
  font-size: 16px;
  padding: 15px 0;
  background: #f1f1f1;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #fff;
  color: #9b4b90;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.scrollTopButton {
  width: 48px;
  text-align: center;
  padding: 7px 4px;
  line-height: 17px;
  font-size: 14px;
}

.chart-container {
  width: 100%;
  max-width: 1200px; /* or whatever max width you want */
  margin: 0 auto;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

.blink {
  animation: blink 1s infinite;
}

@keyframes blinkn {
  0% {
    box-shadow: 0 0 0 0 rgba(22, 163, 74, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(22, 163, 74, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(22, 163, 74, 0);
  }
}

.blinkn {
  animation: blinkn 1.5s infinite;
}

.singnalRow {
  position: relative;
}
.singnalRow:before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: linear-gradient(
    90deg,
    white 0%,
    rgba(220, 208, 219, 0.5) 50%,
    white 100%
  );
}

.p-toast-message {
  margin-left: 31px;
  font-size: 13px;
}

@media (max-width: 1540px) {
  .dashboardCard {
    max-width: 32%;
  }
}

@keyframes point-left-right {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px); /* Move left */
  }
  50% {
    transform: translateX(5px); /* Move right */
  }
  75% {
    transform: translateX(-3px); /* Slight return */
  }
}

.pointer-animation {
  display: inline-block;
  animation: point-left-right 1s infinite;
}

@media (max-width: 1250px) {
  .colSpaceBottom > div {
    flex-direction: column;
  }
  .colSpaceBottom > div label {
    width: 100%;
    text-align: left;
    margin-bottom: 4px;
  }
}

@media (max-width: 1200px) {
  .filterRow {
    flex-wrap: wrap;
  }
  .filterButtonCol {
    width: 100%;
  }
  .datePickerCol,
  .lpCmsCol {
    width: 50%;
  }
  .lpCmsCol label {
    text-align: left;
  }
  .filterButtonCol a {
    width: auto;
  }

  .dashboardCard {
    max-width: 49%;
  }

  .locoPilotTitle {
    flex-direction: column;
    border-bottom: 0px;
  }
  .locoPilotTitle .datePickerCol {
    width: 100%;
  }
  .locoPilotTitle span {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
  }

  .manageLocoPilotTitle {
    border-bottom: 0px;
    flex-direction: column;
  }
  .manageLocoPilotTitle span {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
    display: blockk;
  }
  .manageLocoPilotTitle .datePickerCol {
    width: 100%;
  }
  .manageLocoPilotTitle .buttonCol {
    width: auto;
  }

  .createFormRow {
    flex-direction: column;
  }

  .createFormColFirst {
    width: 100%;
  }
  .createFormColSecond {
    max-width: inherit;
    width: 100%;
  }
  .viewDownloadSection {
    position: static;
    margin-top: 30px;
    flex-wrap: wrap;
  }
  .createTemplateCol {
    flex-direction: column;
  }

  .createTemplateCol input {
    width: 100%;
  }
}

@media (max-width: 1060px) {
  .dailyReportTitle {
    border-bottom: 0px;
    flex-direction: column;
  }
  .dailyReportTitle span {
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
  .loginLeft {
    display: none;
  }
  .loginRight {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 0px;
    max-width: 100%;
  }
}
@media (max-width: 980px) {
  .bannerTitle h1 {
    font-size: 35px;
  }

  .formBox {
    display: flex;
    flex-direction: column;
  }

  .filterDropDown span {
    width: 100%;
    flex-wrap: wrap;
  }

  .lpCmsCol,
  .datePickerCol {
    width: 50%;
  }
  .filterButtonCol {
    margin: 20px 0px;
  }
  .datePickerCol input.inputbox {
    padding-right: 27px;
  }
  .emailPhoneInfo {
    padding-left: 0px !important;
  }

  .datePickerCol .searchCol {
    width: 100%;
  }
  .datePickerCol {
    flex-direction: column;
    height: auto;
  }

  .datePickerCol label {
    margin-bottom: 5px !important;
  }

  .datePickerCol .searchCol {
    padding-left: 0px;
    margin-top: 15px;
  }
  .datePickerCol input {
    width: 100%;
  }

  .manageLocoPilotTitle .datePickerCol .searchCol {
    margin-top: 3px;
  }
}

@media (max-width: 767px) {
  .breakzoneBox,
  .speedTimeGraph,
  .drivingPatternBox {
    display: flex;
    flex-direction: column;
  }
  .speedTimeBanner {
    order: -1;
    padding-left: 0px;
  }
  .drivingPatternBox ul {
    flex-direction: column;
  }
  .drivingPatternBox li {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .banner {
    display: none;
  }
  .bannerTitle {
    position: static;
    color: #000;
    background: #f1f1f1;
  }
  .bannerTitle h1 {
    color: #000;
    margin-top: 50px;
  }

  .logoHeader {
    height: 70px;
  }
  .logoText {
    font-size: 18px;
  }
  .containerLayout {
    margin-top: 45px;
  }
  .navIcon {
    display: flex;
  }
  .navList {
    position: absolute;
    right: 0px;
    width: 230px;
    background: #fff;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
      0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    z-index: 40;
    border-radius: 5px;
    top: 45px;
  }
  .navList:before {
    content: "";
    height: 0px;
    width: 0px;
    border-width: 10px;
    border-color: transparent transparent #f1f1f1 transparent;
    position: absolute;
    top: -20px;
    right: 7px;
  }

  .filterDropDown {
    width: 100%;
  }

  .filterDropDown label {
    text-align: left;
  }

  .filterDropDown span {
    flex-direction: column;
  }
  .lpCmsCol,
  .datePickerCol {
    width: 100%;
  }
  .datePickerCol input.inputbox {
    width: 100%;
  }

  .datePickerCol {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .hideDesktop {
    display: block;
  }

  .hideMobile {
    display: none;
  }
  .leftColInner {
    position: relative;
  }

  .leftMenuCol {
    height: inherit;
    position: static;
    width: 100%;
    margin-bottom: 5px;
  }

  .showSelectedItem {
    border-bottom: 1px solid #fff;
    padding: 20px;
    color: #fff;
    cursor: pointer;
    position: relative;
    font-size: 20px;
  }
  .showSelectedItem:after {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    right: 25px;
    transform: rotate(-45deg);
  }

  .showSelectedItem.active:after {
    transform: rotate(135deg);
    top: 30px;
  }

  .controlCenterCol {
    flex-direction: column;
    padding: 10px;
  }

  .rightContentCol {
    padding-left: 0px;
  }

  .leftMenuCol ul li.selectedCol:after {
    display: none;
  }

  .leftMenuCol ul {
    position: absolute;
    width: 100%;
    top: 71px;
  }

  .footerFormBox {
    flex-direction: column;
  }

  .footerFormBox > div {
    width: 100%;
  }

  .aboutUsContentBox {
    max-width: 92%;
  }

  .footerInputBox,
  .footerInputBox p {
    flex-direction: column;
    text-align: center;
  }

  .footerInputBox p {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  .socialMediaLink {
    text-align: center;
  }

  .footerSocalMediaIcon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footerFormBox > div:nth-child(3) {
    padding-left: 0;
  }
  .footerFormBox > div {
    padding-left: 0px;
  }
  .footerFormBox {
    max-width: 300px;
    margin: 20px auto 0;
  }
  .footerInputBox p {
    font-size: 15px;
  }
  .addressCol,
  .emailPhoneInfo {
    position: relative;
    background: none;
    padding-bottom: 20px;
  }

  .addressCol:before,
  .emailPhoneInfo:before {
    position: absolute;
    height: 1px;
    width: 100%;
    content: "";
    background: linear-gradient(90deg, #fff, #ccc 50%, #fff);
    bottom: -6px;
    left: 0;
  }

  .addressCol > div p:nth-child(3):before {
    left: 0;
  }

  .addressCol > div p:nth-child(3) {
    padding-top: 45px;
  }

  .addressCol > div p:nth-child(3):before {
    width: 100%;
    background-size: 28px;
    background-position: 50%;
  }

  .footerBox {
    max-width: 100%;
  }
  .dashboardCard {
    max-width: 100%;
  }
  .dashboardMainCol {
    padding-top: 20px;
  }
}

@media (max-width: 600px) {
  .bannerTitle h1 {
    font-size: 25px;
    line-height: 35px;
    margin-top: 0px;
  }
  .bannerTitle {
    padding: 40px;
  }
  .speedTimeGraph > div {
    width: 100%;
  }
  .insightFlSpeedCol ul {
    flex-direction: column;
  }
  .insightFlSpeedCol ul li {
    flex-direction: column;
    width: 100%;
  }
  .breakzoneBox > div {
    width: 100%;
    padding-left: 0px;
  }
  .insightFlSpeedCol h3 {
    font-size: 22px;
  }
  .breakzoneBox h3 {
    font-size: 22px;
    margin-top: 20px;
  }
  .drivingPatternBox h3 {
    font-size: 22px;
  }
  .logo {
    width: 220px;
  }
  .headerUserIcon {
    padding-right: 0px;
  }
  .speedTimeGraph h4 {
    font-size: 20px;
  }

  .insightFlSpeedCol li h4 {
    font-size: 20px;
    margin-top: 5px;
  }

  .drivingPatternBox h4 {
    font-size: 18px;
  }

  .dashboardCard {
    min-width: 100%;
  }
  span#backButton:before {
    margin-top: 6px;
    height: 7px;
    width: 7px;
  }
  .createReportForm > div {
    display: flex;
    flex-direction: column;
  }
  .createReportForm > div label {
    width: 100%;
    text-align: left;
    margin-right: 0px;
    font-size: 14px;
  }
  .createReportForm > div input,
  .createReportForm > div select {
    width: 100%;
  }
  .createReportForm > div.goodColum input {
    width: auto;
  }
  .createReportForm > div.goodColum {
    display: inline-block;
    text-align: left;
  }
  .dragDropCol > div {
    width: 100%;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #ddd;
  }
  .responsiveTable tr {
    padding: 10px;
  }
  .dashboardCardOnlyRes ul li {
    display: flex;
    flex-direction: column;
  }
  .filterDropDown:before {
    right: 115px;
  }

  .reportViewTitle {
    text-align: left;
    padding-top: 50px;
    margin-top: 0px;
  }
  .reportViewTitle button {
    top: 48px;
  }
  .dateRangeCal {
    right: -20px;
  }
  .datePickerCol,
  .lpCmsCol {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .lpCmsCol input {
    width: 100%;
  }
  .datePickerCol {
    margin: 5px 0px 10px 0px;
  }
  .filterDropDown label {
    position: relative;
  }
  .searchCol {
    margin-top: 10px;
    padding-left: 0px;
  }
  .searchCol input {
    width: 100%;
  }
  .showSelectedItem {
    padding: 10px 20px;
  }
  .leftMenuCol ul {
    top: 52px;
  }
  .showSelectedItem.active:after {
    top: 23px;
  }
  .showSelectedItem {
    font: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .leftMenuCol ul li {
    padding: 10px 20px;
  }
  .dailyReportTitle .datePickerCol {
    flex-direction: row;
  }
  .dailyReportTitle .datePickerCol label {
    margin-top: 2px;
  }

  .manageLocoPilotTitle .buttonCol {
    padding-left: 0px;
  }

  .manageLocoPilotTitle button {
    font-size: 13px;
  }

  ul.dashboardCardUi li span {
    text-align: left;
  }
  .createFormColFirst,
  .createFormColSecond {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .goodColum input {
    max-width: 20px;
  }
  .createFormColFirst input {
    margin-left: 0px;
  }
  .createFormRow .dragDropCol {
    flex-direction: column;
    width: 300px;
  }
  .dropzondRow {
    width: 100%;
  }
  .createReportForm > div .viewDownloadSection label {
    text-align: center;
  }
  .viewDownloadSectionMain {
    width: 100%;
    max-width: 100%;
  }

  .createTemplateCol > div {
    flex-direction: column;
  }
  .createTemplateCol > div label {
    text-align: left;
    width: 100%;
    padding-left: 10px;
  }
  .createTemplateCol .titleIput {
    width: 100%;
  }
}
/* small screen */
@media (max-width: 310px) {
  .filterButtonCol {
    flex-wrap: wrap;
  }

  .filterButtonCol button {
    margin-top: 10px;
  }
}
